
/**
 *
 * Roboto-Regular  
 *
 */

@font-face {
    font-family: "Roboto-Regular";
    src: url('../ressources/fonts/Roboto/Roboto-Regular.ttf');
    display:swap;
}


/**
 *
 * Roboto-Medium
 *
 */

@font-face {
    font-family: "Roboto-Medium";
    src: url('../ressources/fonts/Roboto/Roboto-Medium.ttf');
    display: swap;
}


/**
 *
 * Lato-Regular
 *
 */

 @font-face {
    font-family: "Lato-Regular";
    src: url('../ressources/fonts/Lato/Lato-Regular.ttf');
    display: swap;
}

@font-face {
    font-family: "Lato-Light";
    src: url('../ressources/fonts/Lato/Lato-Light.ttf');
    display: swap;
}

@font-face {
    font-family: "Lato-Bold";
    src: url('../ressources/fonts/Lato/Lato-Bold.ttf');
    display: swap;
}

@font-face {
    font-family: "Lato-Black";
    src: url('../ressources/fonts/Lato/Lato-Black.ttf');
    display: swap;
}