.contenair{
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

.wrapper{
    width:100%;
    position:relative;
}

.wrapper .wrapper-content{
    width:100%;
}

/*=============================================
=            Nav-Bar            =
=============================================*/

.nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:200;
}


.nav .nav-content{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 0;
    line-height:0px;
    color:#fff;
}

.nav-content .nav-links a{
    display:inline-block;
    position:relative;
    padding:10px 0;
    margin-left:30px;
    color:#fff;
}

.nav-content .nav-links a.active,
.nav-content .nav-links a:hover{
    color:var(--color-base);
}


.nav-content .nav-links a::before{
    content:"";
    position:absolute;
    left:0;
    bottom:-10px;
    width:0%;
    height:3px;
    background:var(--color-base);
    transition:width .4s ease-in-out 0s;
    border-radius:3px;
}
.nav-content .nav-links a.active::before,
.nav-content .nav-links a:hover::before{
    width:100%;
}
/*=====  End of Nav-Bar  ======*/


/*=============================================
=            Banner-Carousel            =
=============================================*/
.banner-carousel{
    width:100%;
    position:relative;
}

.banner-carousel .swiper{
    width:100%;
    height:100vh;
}

.banner-carousel .swiper-slide{
    width:100%;
    position:relative;
}

.banner-carousel .swiper-slide img,
.banner-carousel .swiper-slide video{
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    display:block;
    object-fit:cover;
    object-position:center center;
}

.banner-carousel .swiper-slide::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.651);
    width:100%;
    height:100%;
}

.banner-carousel .swiper-button-prev,
.banner-carousel .swiper-button-next{
    cursor:pointer;
    color:#fff;
}

.banner-carousel .swiper-button-next{
    right:50px;
}

.banner-carousel .swiper-button-prev{
    left:50px;
}
/*=====  End of Banner-Carousel  ======*/



/*=============================================
=            Bloc            =
=============================================*/

.bloc{
    width:100%;
    position:relative;
    margin-top:60px;
}

.bloc-content .bloc-title{
    text-align:center;
    margin-bottom:50px;
}

.bloc-content .bloc-title h1{
    font-size:36px;
    position:relative;
    display:inline-block;
}

.bloc-content .bloc-title h1::before{
    content:"";
    position:absolute;
    left:50%;
    width:50%;
    height: 2px;
    background:var(--color-base);
    bottom:-10px;
    transform:translateX(-50%);
}

.bloc-content .bloc-title span{
    color:var(--color-base);
}


.bloc-content .bloc-content-flex{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.bloc-content-flex .bloc-box{
    width:50%;
}

.bloc-content-flex .bloc-box img{
    min-width:100%;
    max-width:100%;
    min-height:220px;
    max-height:480px;
    object-fit:cover;
    border-radius:8px;
}

.bloc-content-flex  .bx-text{
    padding:0 20px 0 0px;
}

.bloc-content .bloc-actualities{
    margin-top:60px;
}

.bloc-actualities .bloc-actu-flex{
    width:100%;
    display:flex;
}

.bloc-actualities .actu-box{
    width:calc(calc(100% / 3));
}

.bloc-actualities .actu-box img{
    width:100%;
    height:250px;
    border-radius:8px 8px 0px 0px;
    object-fit:cover;
}

.bloc-actualities .actu-box .actu-text{
    background:#f8f6f6;
    padding:20px;
    border-radius:0px 0px 8px 8px;
}

.actu-box .actu-text h2{
    margin-bottom:20px;
}

.actu-box .actu-text a{
    display:inline-block;
    padding:12px 20px;
    background:var(--color-base);
    color:#fff;
    border-radius:4px;
    line-height:20px;
}

.bloc-actualities .swiper-button-next,
.bloc-actualities .swiper-button-prev{
    width:40px;
    height:40px;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    box-shadow:0px 2px 30px rgba(0, 0, 0, 0.144);
}

.bloc-actualities .swiper-button-next{
    transform: translate(8%, -37%);
}


.bloc-actualities .swiper-button-prev{
    transform: translate(-8%, -37%);
}

.bloc-actualities .swiper-button-next::after,
.bloc-actualities .swiper-button-prev::after{
    font-size:22px;
    color:var(--color-text);

}

.bloc-services{
    width:100%;
    margin-top:60px;
}

.bloc-services .bloc-service-flex{
    width:100;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

.bloc-service-flex .bloc-serv-box{
    padding:20px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.bloc-service-flex .bloc-serv-box .serv-icon{
    width:55px;
    height:55px;
    border-radius:50%;
    border:1px solid var(--color-base);
    display:flex;
    justify-content:center;
    align-items:center;
    line-height:0px;
    margin-bottom:20px;
    transition:all .3s ease-in-out 0s;
}

.bloc-serv-box .serv-icon span{
    font-size:25px;
    color:var(--color-base);
    transition:all .3s ease-in-out 0s;
}

.bloc-serv-box .serv-text{
    text-align: center;
}

.bloc-serv-box:hover .serv-icon{
    background:var(--color-base);
}

.bloc-serv-box:hover span{
    color:#fff;
}

.bloc-equipes{
    width:100%;
    margin-top:60px;
}

.bloc-equip-flex{
    width:100%;
    padding-bottom:20px;
}

.bloc-equip-flex .bloc-eq-box {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}

.bloc-equip-flex .bloc-eq-box img{
    width:280px;
    height:280px;
    display:block;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:12px;
}
/*=====  End of Bloc  ======*/


